# Downloading Data to Trading Analysis

### Import libraries

In [2]:
import pandas as pd
import pandas_datareader as web

### Download Data

In [5]:
#data = web.DataReader('SPY', 'Yahoo', '2007-01-01', '2017-01-01') #Doesn't work in yahoo anymore
# data = data.loc[:, ['Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']]
# data.index = data.index.astype(str) + ' 00:00:00'
# data.index.rename('Date Time', inplace=True)
# data.to_csv('Data//Advanced-Trading-Analysis-Data.txt')

In [7]:
data = pd.read_csv('Advanced-Trading-Analysis-Data.txt')

In [8]:
data.head()

,Date Time,Open,High,Low,Close,Volume,Adj Close
0,2007-01-03 00:00:00,142.250000,142.860001,140.570007,141.369995,94807600,113.757523
1,2007-01-04 00:00:00,141.229996,142.050003,140.610001,141.669998,69620600,113.998940
2,2007-01-05 00:00:00,141.330002,141.399994,140.380005,140.539993,76645300,113.089668
3,2007-01-08 00:00:00,140.820007,141.410004,140.250000,141.190002,71655000,113.612640
4,2007-01-09 00:00:00,141.309998,141.600006,140.399994,141.070007,75680100,113.516121

In [11]:
data.shape

(2518, 7)